@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth; /*scroll when links on the menu are clicked*/
}
/* MENU */
.headerContainer{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.headerContainer header{
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}
.logo a span{
    font-family: 'Righteous';
    font-size: 36px;
    color:#ffffff;
    text-decoration: none;
}
#menu{
    display: flex;
    list-style: none;
}
.headerContainer header nav ul li a{
    text-align: none;
    color: #ffffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.headerContainer header nav ul li a:hover{
    color: #1CB698;
}
.nav-responsive{
    background-color: #1CB698;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* HOME */
.home{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(Images/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.perfil{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.fotoPerfil {
    width: 250px; /* Ajustar */
    height: 300px; /* Ajustar */
    border: 10px solid #1CB698;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.fotoPerfil img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.perfil h1{
    margin-top: 25px;
    font-size: 38px;
    font-family: 'Righteous';
}
.perfil h2{
    font-size: 16px;
    font-weight: normal;
}
.socialMedia a{
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 42px;
    height: 42 px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
}
.socialMedia a:hover{
    background-color: #1CB698;
}
/* ABOUT ME */
#psi strong{
    font-size: 40px;
    margin-top: -17px;
    margin-bottom: 10px;
}
.aboutme{
    background-color: #1e2326;
    color: #ffffff;
    padding: 50px 20px;
}
.parrafo{
    max-width: 1100px;
    margin: auto;
}
.aboutme h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.parrafo p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.parrafo p span{
    color: #1CB698;
    font-weight: bold;
}
.datosPersonales{
    display: flex;
}
.datosPersonales h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
}
.aboutme .col{
    width: 50%;
}
.aboutme .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.aboutme .col ul{
    list-style: none;
}
.aboutme .col ul li{
    margin: 12px 0;
    
}
.aboutme .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
#phrase{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.contenedorLikes{
    display: flex;
    flex-wrap: wrap;
}
.likes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.likes:hover{
    background-color: #1CB698;
}
.likes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.aboutme button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20 px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}
.aboutme button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.aboutme button:hover .overlay{
    width: 100%;
}

/* SKILLS */
.skills{
    background-color: #252A2E;
    color: #ffffff;
    padding: 50px 20px;
}
.mainSkills{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.liSkills{
    display: flex;
}
.skills .col{
    width: 50%;
    padding: 0 20px;
}
.skills .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.barraSkill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.progress{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.barraSkill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skills .skill .python{
    width: 0%;
    animation: 2s python forwards;
}
@keyframes python{
    0%{width: 0%;}
    100%{width: 60%;}
}
.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java{
    0%{width: 0%;}
    100%{width: 50%;}
}
.skills .skill .javaScript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 60%;}
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 45%;}
}
.skills .skill .c{
    width: 0%;
    animation: 2s c forwards;
}
@keyframes c{
    0%{width: 0%;}
    100%{width: 30%;}
}
.skills .skill .communication{
    width: 0%;
    animation: 2s communication forwards;
}
@keyframes communication{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .teamwork{
    width: 0%;
    animation: 2s teamwork forwards;
}
@keyframes teamwork{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .dedication{
    width: 0%;
    animation: 2s dedication forwards;
}
@keyframes dedication{
    0%{width: 0%;}
    100%{width: 95%;}
}
.skills .skill .leadership{
    width: 0%;
    animation: 2s leadership forwards;
}
@keyframes leadership{
    0%{width: 0%;}
    100%{width: 80%;}
}
.skills .skill .ei{
    width: 0%;
    animation: 2s ei forwards;
}
@keyframes ei{
    0%{width: 0%;}
    100%{width: 85%;}
}
/* Contact */
.contact{
    background-image: url(Images/contact_bg.png);
    background-color: #1e2326;
    color: #ffffff;
    padding: 50px 0;
}
.contentContact{
    max-width: 1100px;
    margin: auto;
}
.contact h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.line{
    display: flex;
}
.contact .form{
    padding: 10px;
    position: relative;
    display: block;
}
.form input, .form textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #ffffff;
    font-size: 18px;
}
.contact button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20 px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}
.contact button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.contact button:hover .overlay{
    width: 100%;
}
footer{
    background-color: #252A2E;
    color: #ffffff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .socialMedia{
    margin-bottom: 20px;
}
.up{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
.copy p{
    font-size: 20px;
    font-family: 'Great Vibes', cursive;
}
/* RESPONSIVE */
@media screen and (max-width:700px) {
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #ffffff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px) {
    .aboutme .datosPersonales{
        display: block;
    }
    .aboutme .datosPersonales .col{
        width: fit-content;
    }
    .skills .liSkills{
        display: block;
    }
    .skills .liSkills .col{
        width: 100%;
    }
    .skills .liSkills .col .barraSkill{
        width: 100%;
    }
}